* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    min-height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 200px;
    height: 300px;
    position: relative;
    display: grid;
    place-content: center;
    border-radius: 20px;
    margin-top: 175px;
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background-image: linear-gradient(230deg, rgba(93, 93, 93, 0.03) 0%, rgba(93, 93, 93, 0.03) 50%, rgba(78, 78, 78, 0.03) 50%, rgba(78, 78, 78, 0.03) 100%), 
                      linear-gradient(107deg, rgba(55, 55, 55, 0.01) 0%, rgba(55, 55, 55, 0.01) 50%, rgba(170, 170, 170, 0.01) 50%, rgba(170, 170, 170, 0.01) 100%), 
                      linear-gradient(278deg, rgba(16, 16, 16, 0.03) 0%, rgba(16, 16, 16, 0.03) 50%, rgba(24, 24, 24, 0.03) 50%, rgba(24, 24, 24, 0.03) 100%), 
                      linear-gradient(205deg, rgba(116, 116, 116, 0.03) 0%, rgba(116, 116, 116, 0.03) 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 100%), 
                      linear-gradient(150deg, rgba(5, 5, 5, 0.03) 0%, rgba(5, 5, 5, 0.03) 50%, rgba(80, 80, 80, 0.03) 50%, rgba(80, 80, 80, 0.03) 100%), 
                      linear-gradient(198deg, rgba(231, 231, 231, 0.03) 0%, rgba(231, 231, 231, 0.03) 50%, rgba(26, 26, 26, 0.03) 50%, rgba(26, 26, 26, 0.03) 100%), 
                      linear-gradient(278deg, rgba(89, 89, 89, 0.03) 0%, rgba(89, 89, 89, 0.03) 50%, rgba(26, 26, 26, 0.03) 50%, rgba(26, 26, 26, 0.03) 100%), 
                      linear-gradient(217deg, rgba(28, 28, 28, 0.03) 0%, rgba(28, 28, 28, 0.03) 50%, rgba(202, 202, 202, 0.03) 50%, rgba(202, 202, 202, 0.03) 100%), 
                      linear-gradient(129deg, rgba(23, 23, 23, 0.03) 0%, rgba(23, 23, 23, 0.03) 50%, rgba(244, 244, 244, 0.03) 50%, rgba(244, 244, 244, 0.03) 100%), 
                      linear-gradient(135deg, black, silver, black);
}

.size-5 {
    width: 5px;
    border-radius: 2px;
}

.size-10 {
    width: 10px;
    border-radius: 4px;
}

.size-15 {
    width: 15px;
    border-radius: 5px;
}

.size-20 {
    width: 20px;
    border-radius: 7px;
    display: grid;
    place-content: center;
    border: 1px solid white;
}

.size-20:hover {
    transform: scale(1.5);
    border: none;
}

.size-20::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: inherit;
    background: black;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.size-20:hover::before {
    opacity: 1;
}

.size-20 .svg {
    fill: rgba(255, 255, 255, 0);
    height: 10px;
    width: 10px;
    transition: all 0.2s ease-in-out;
}
.size-20:hover .svg {
    fill: white;
    z-index: 99;
}

.dot-container-main {
    width: 95px;
    height: 110px;
    position: relative;
}

.dot {
    position: absolute;
    aspect-ratio: 1;
    background: linear-gradient(45deg, white 0%, rgba(255, 255, 255, 0.34) 100%);
    border-top: 1px solid white;
    border-right: 1px solid white;
    transition: left 1s ease-in-out, top 1s ease-in-out, transform 0.2s ease-in-out;
}

.dot:hover {
    transform: scale(1.8);
}

.dot1 {
    left: 60px;
    top: 160px;
}

.dot2 {
    left: 100px;
    top: 170px;
}

.dot3 {
    left: 115px;
    top: -55px;
}

.dot4 {
    left: 125px;
    top: 150px;
}

.dot5 {
    left: 100px;
    top: -20px;
}

.dot6 {
    left: 30px;
    top: -55px;
}

.dot7 {
    left: 80px;
    top: -60px;
}

.dot8 {
    left: 70px;
    top: -35px;
}

.dot9 {
    left: 0px;
    top: -50px;
}

.dot10 {
    left: 80px;
    top: -20px;
}

.dot11 {
    left: 110px;
    top: 0px;
}

.dot12 {
    left: -40px;
    top: -25px;
}

.dot13 {
    left: 50px;
    top: -10px;
}

.dot14 {
    left: 100px;
    top: 10px;
}

.dot15 {
    left: 70px;
    top: 0px;
}

.dot16 {
    left: 10px;
    top: 20px;
}

.dot17 {
    left: 80px;
    top: 10px;
}

.dot18 {
    left: -35px;
    top: 0px;
}

.dot19 {
    left: 95px;
    top: 30px;
}

.dot20 {
    left: -30px;
    top: 10px;
}

.dot21 {
    left: 50px;
    top: 10px;
}

.dot22 {
    left: 60px;
    top: 35px;
}

.dot23 {
    left: 130px;
    top: 45px;
}
    
.dot24 {
    left: -30px;
    top: 30px;
}

.dot25 {
    left: -5px;
    top: 40px;
}

.dot26 {
    left: 45px;
    top: 60px;
}

.dot27 {
    left: 50px;
    top: 70px;
}

.dot28 {
    left: 100px;
    top: 40px;
}

.dot29 {
    left: -15px;
    top: 90px;
}

.dot30 {
    left: 20px;
    top: 40px;
}

.dot31 {
    left: 85px;
    top: 80px;
}

.dot32 {
    left: -30px;
    top: 130px;
}

.dot33 {
    left: 70px;
    top: 70px;
}

.dot34 {
    left: 50px;
    top: 90px;
}

.dot35 {
    left: 65px;
    top: 80px;
}

.dot36 {
    left: 10px;
    top: 90px;
}

.dot37 {
    left: 30px;
    top: 115px;
}

.dot38 {
    left: 40px;
    top: 120px;
}

.dot39 {
    left: 50px;
    top: 110px;
}

.dot40 {
    left: 90px;
    top: 110px;
}

.dot41 {
    left: 50px;
    top: 170px;
}

.dot42 {
    left: 10px;
    top: 160px;
}

.dot43 {
    left: 100px;
    top: 120px;
}

.dot44 {
    left: 0px;
    top: 175px;
}

.dot45 {
    left: 20px;
    top: 180px;
}

.dot46 {
    left: 120px;
    top: 180px;
}

.dot47 {
    left: 10px;
    top: -75px;
}

.dot48 {
    left: 110px;
    top: -30px;
}

.dot49 {
    left: -20px;
    top: -35px;
}

.dot50 {
    left: 40px;
    top: -40px;
}

.dot51 {
    left: -40px;
    top: -80px;
}

.dot52 {
    left: 125px;
    top: -80px;
}

.dot53 {
    left: 120px;
    top: -20px;
}

.dot54 {
    left: 60px;
    top: -30px;
}

.dot55 {
    left: 85px;
    top: -5px;
}

.dot56 {
    left: 30px;
    top: 15px;
}

.dot57 {
    left: -20px;
    top: 0px;
}

.dot58 {
    left: 110px;
    top: 30px;
}

.dot59 {
    left: -15px;
    top: 20px;
}

.dot60 {
    left: 75px;
    top: 20px;
}

.dot61 {
    left: 100px;
    top: 55px;
}

.dot62 {
    left: -30px;
    top: 55px;
}

.dot63 {
    left: 80px;
    top: 45px;
}

.dot64 {
    left: 0px;
    top: 60px;
}

.dot65 {
    left: 70px;
    top: 95px;
}

.dot66 {
    left: 40px;
    top: 140px;
}

.dot67 {
    left: 110px;
    top: 100px;
}

.dot68 {
    left: 100px;
    top: 135px;
}

.dot69 {
    left: 80px;
    top: 145px;
}

.dot70 {
    left: 20px;
    top: 160px;
}

.dot71 {
    left: 50px;
    top: -85px;
}

.dot72 {
    left: 30px;
    top: 70px;
}

.dot73 {
    left: -10px;
    top: 120px;
}

.dot74 {
    left: 70px;
    top: 170px;
}

.dot75 {
    left: -25px;
    top: -80px;
}

.dot76 {
    left: 10px;
    top: -20px;
}

.dot77 {
    left: 110px;
    top: 70px;
}

.dot78 {
    left: -35px;
    top: 170px;
    /*animation: pulse 0.5s ease 0s infinite alternate;*/
}

.card:hover {
    transform: scale(1.1);
}

.card:hover .text {
    opacity: 1;
}

.card:hover .dot1 {
    left: 75px;
    top: 95px;
}

.card:hover .dot2 {
    left: 75px;
    top: 105px;
}

.card:hover .dot3 {
    left: 90px;
    top: 0px;
}

.card:hover .dot4 {
    left: 90px;
    top: 100px;
}

.card:hover .dot5 {
    left: 90px;
    top: 5px;
}

.card:hover .dot6 {
    left: 45px;
    top: 0px;
}

.card:hover .dot7 {
    left: 75px;
    top: 10px;
}

.card:hover .dot8 {
    left: 55px;
    top: 15px;
}

.card:hover .dot9 {
    left: 10px;
    top: 20px;
}

.card:hover .dot10 {
    left: 60px;
    top: 20px;
}

.card:hover .dot11 {
    left: 90px;
    top: 20px;
}

.card:hover .dot12 {
    left: 0px;
    top: 25px;
}

.card:hover .dot13 {
    left: 75px;
    top: 25px;
}

.card:hover .dot14 {
    left: 85px;
    top: 25px;
}

.card:hover .dot15 {
    left: 80px;
    top: 30px;
}

.card:hover .dot16 {
    left: 15px;
    top: 35px;
}

.card:hover .dot17 {
    left: 75px;
    top: 35px;
}

.card:hover .dot18 {
    left: 0px;
    top: 40px;
}

.card:hover .dot19 {
    left: 85px;
    top: 40px;
}

.card:hover .dot20 {
    left: 5px;
    top: 45px;
}

.card:hover .dot21 {
    left: 50px;
    top: 45px;
}

.card:hover .dot22 {
    left: 60px;
    top: 45px;
}

.card:hover .dot23 {
    left: 90px;
    top: 45px;
}

.card:hover .dot24 {
    left: 0px;
    top: 50px;
}

.card:hover .dot25 {
    left: 15px;
    top: 50px;
}

.card:hover .dot26 {
    left: 45px;
    top: 50px;
}

.card:hover .dot27 {
    left: 55px;
    top: 50px;
}

.card:hover .dot28 {
    left: 80px;
    top: 50px;
}

.card:hover .dot29 {
    left: 10px;
    top: 55px;
}

.card:hover .dot30 {
    left: 20px;
    top: 55px;
}

.card:hover .dot31 {
    left: 75px;
    top: 55px;
}

.card:hover .dot32 {
    left: 5px;
    top: 65px;
}

.card:hover .dot33 {
    left: 55px;
    top: 65px;
}

.card:hover .dot34 {
    left: 30px;
    top: 70px;
}

.card:hover .dot35 {
    left: 50px;
    top: 70px;
}

.card:hover .dot36 {
    left: 35px;
    top: 75px;
}

.card:hover .dot37 {
    left: 30px;
    top: 90px;
}

.card:hover .dot38 {
    left: 40px;
    top: 90px;
}

.card:hover .dot39 {
    left: 50px;
    top: 90px;
}

.card:hover .dot40 {
    left: 80px;
    top: 90px;
}

.card:hover .dot41 {
    left: 35px;
    top: 95px;
}

.card:hover .dot42 {
    left: 25px;
    top: 100px;
}

.card:hover .dot43 {
    left: 50px;
    top: 100px;
}

.card:hover .dot44 {
    left: 20px;
    top: 105px;
}

.card:hover .dot45 {
    left: 45px;
    top: 105px;
}

.card:hover .dot46 {
    left: 90px;
    top: 105px;
}

.card:hover .dot47 {
    left: 15px;
    top: 20px;
}

.card:hover .dot48 {
    left: 85px;
    top: 0px;
}

.card:hover .dot49 {
    left: 5px;
    top: 20px;
}

.card:hover .dot50 {
    left: 45px;
    top: 5px;
}

.card:hover .dot51 {
    left: 0px;
    top: 20px;
}

.card:hover .dot52 {
    left: 75px;
    top: 0px;
}

.card:hover .dot53 {
    left: 85px;
    top: 10px;
}

.card:hover .dot54 {
    left: 45px;
    top: 15px;
}

.card:hover .dot55 {
    left: 75px;
    top: 15px;
}

.card:hover .dot56 {
    left: 10px;
    top: 25px;
}

.card:hover .dot57 {
    left: 0px;
    top: 30px;
}

.card:hover .dot58 {
    left: 85px;
    top: 30px;
}

.card:hover .dot59 {
    left: 10px;
    top: 40px;
}

.card:hover .dot60 {
    left: 75px;
    top: 40px;
}

.card:hover .dot61 {
    left: 85px;
    top: 50px;
}

.card:hover .dot62 {
    left: 0px;
    top: 55px;
}

.card:hover .dot63 {
    left: 55px;
    top: 55px;
}

.card:hover .dot64 {
    left: 30px;
    top: 60px;
}

.card:hover .dot65 {
    left: 40px;
    top: 70px;
}

.card:hover .dot66 {
    left: 20px;
    top: 90px;
}

.card:hover .dot67 {
    left: 85px;
    top: 90px;
}

.card:hover .dot68 {
    left: 80px;
    top: 100px;
}

.card:hover .dot69 {
    left: 40px;
    top: 95px;
}

.card:hover .dot70 {
    left: 30px;
    top: 100px;
}

.card:hover .dot71 {
    left: 50px;
    top: 0px;
}

.card:hover .dot72 {
    left: 40px;
    top: 55px;
}

.card:hover .dot73 {
    left: 10px;
    top: 60px;
}

.card:hover .dot74 {
    left: 55px;
    top: 90px;
}

.card:hover .dot75 {
    left: 0px;
    top: 0px;
}

.card:hover .dot76 {
    left: 45px;
    top: 25px;
}

.card:hover .dot77 {
    left: 75px;
    top: 60px;
}

.card:hover .dot78 {
    left: 0px;
    top: 90px;
    /*animation: none;*/
}

/*@keyframes pulse {
    0% {scale: 1;}
    25% {scale: 1.2;}
    50% {scale: 1;}
    100% {scale: 1.3;}
}*/

.text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-bottom: 25px;
    transform: translateX(-50%);
    font-size: 9px;
    letter-spacing: 1px;
    color: white;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    text-transform: uppercase;
}

.qrCode {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}

.uiverseQrCode {
    color: #fff;
    width: 100px;
    height: 100px;
    margin: 75px 25px 0 0;
}

@media (max-width: 1024px) {
    .card {
        margin-top: 0;
    }
    .card:hover .size-20 .svg {
        fill: silver;
    }
    .card:hover .size-20::before {
        opacity: 0;
    }
    .dot.size-20:hover .svg {
        fill: whitesmoke;
    }
    .qrCode {
        display: none;
    }
}